{% extends 'base.html' %}



{% block main %}


<div class="row px-3">
    <div class="col-sm-4">
        <h2 class="text-center  alter alter-info"> Add New Student </h2>

        <form method="POST">
            {% csrf_token %}
            {{form.as_table}}
            <br>
            <input type="submit" class="btn btn-success " value="add">


        </form>

    </div>

    <div class="col-sm-8">
        <h3 class="text-center alter alter-info"> Show Table data </h3>


        <table class="table">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Roll Number</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            {%  for s in studentt %}

            <tbody>

            <tr>
                <th scope="row">{{s.name}}</th>
                <td>{{s.roll_num}}</td>
                <td>{{s.email}}</td>
                <td>{{s.password}}</td>
                <td>
                    <a href="{% url 'updatedata ' s.id %}" class="btn btn-warning btn-sm" > Edit </a>
                   <form action="{% url 'deletestudent' s.id  %}" , method="POST" class="d-inline">
                       {% csrf_token %}
                       <input type="submit" class="btn btn-danger btn-sm" value="Delete">

                   </form>

                </td>
            </tr>

            </tbody>
            {% endfor %}
        </table>


    </div>

</div>





{% endblock %}
